---
import {
  MENU_CONSULTATIONS_ANCHOR,
  MENU_COLOR_CONSULTATION_PANEL_COPY,
  MENU_COLOR_CONSULTATION_PANEL_CTA,
} from "../../data/menu-config";
---

<aside class="menu-consultation-panel" data-menu-consultation-panel>
  <p class="menu-consultation-panel__text">{MENU_COLOR_CONSULTATION_PANEL_COPY}</p>
  <a
    class="menu-consultation-panel__cta"
    href={`#${MENU_CONSULTATIONS_ANCHOR}`}
    data-menu-intent-link={MENU_CONSULTATIONS_ANCHOR}
    data-analytics-action="consultation-panel"
  >
    {MENU_COLOR_CONSULTATION_PANEL_CTA}
  </a>
</aside>
