---
import {
  MENU_CONSULTATION_CTA,
  MENU_CONSULTATION_PANEL_COPY,
} from "../../data/menu-config";
---

<aside class="menu-consultation-panel" data-menu-consultation-panel>
  <p class="menu-consultation-panel__text">{MENU_CONSULTATION_PANEL_COPY}</p>
  <a
    class="menu-consultation-panel__cta"
    href="#consultations"
    data-menu-intent-link="consultations"
    data-analytics-action="consultation-panel"
  >
    {MENU_CONSULTATION_CTA}
  </a>
</aside>
